body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #0a0a0a;
    color: #fff;
}

.hero {
    background: linear-gradient(135deg, #1a1a1a, #000);
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
    letter-spacing: 4px;
}

.hero p {
    font-size: 18px;
    opacity: 0.8;
    margin-bottom: 30px;
}

.btn-whatsapp {
    background: none;
    border: 2px solid #cfa96d;
    color: #cfa96d;
    padding: 27px 40px;
    text-decoration: none;
    font-size: 26px;
    letter-spacing: 2px;
    transition: 0.3s;
}

.btn-whatsapp:hover {
    background: #cfa96d;
    color: #000;
}

.marcas {
    text-align: center;
    padding: 60px 0;
}

.logo-marcas img {
    width: 400px;
    margin: 15px;
    opacity: 0.8;
    transition: 0.3s;
}

.logo-marcas img:hover {
    opacity: 1;
}

.sobre {
    text-align: center;
    padding: 40px 15px;
    font-size: 16px;
}

.infos{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background: #1d1d1d;
  padding: 30px;
  width: 1800px;
  border-radius: 5px;    
  box-shadow: 0 2px 25px rgb(78, 78, 78); 
}

.botao {
    text-align: center;
    margin: 90px 0;
}
.footer {
color: #cfa96d;
text-align: center;
margin: 120px 0;
}
